body {
  margin: 0;
  padding: 0;
}
body * {
  font-family: Arial, Helvetica, sans-serif;
}

.wd-flex-row-container {
  display: flex;
}
/* Kanbas Navigation */
.kanbas-nav {
  list-style: none;
  padding: 0;
  background-color: black;
  width: 80px;
}

.kanbas-nav li {
  text-align: center;
  padding: 10px;
  font-size: 0.8em;
  margin-bottom: 10px;
}

.kanbas-nav li.active {
  background-color: white;
}

.kanbas-nav li.active a .kanbas-nav-name {
  color: red;
}
.kanbas-nav li a {
  text-decoration: none;
}

.kanbas-nav li:first-child a i {
  font-size: 3em;
}
.kanbas-nav .kanbas-nav-name {
  color: white;
  margin-top: 10px;
}

/* Profile main page */
.wd-flex-row-container .accountNav {
  width: 200px;
  margin-left: 25px;
  flex-wrap: wrap;
  padding-top: 80px;
}

.wd-flex-row-container .accountNav ul {
  list-style: none;
  padding: 0px;
}
.wd-flex-row-container .accountNav ul li {
  margin-bottom: 20px;
}
.wd-flex-row-container .accountNav ul li a {
  text-decoration: none;
  color: red;
  text-align: left;
  padding-left: 10px;
}
.wd-flex-row-container .accountNav ul li .profile-page {
  color: black;
  border-left: black solid;
}

.wd-flex-row-container .profile {
  width: 100%;
}
.wd-flex-row-container .profile .profile-logo .fa-user {
  font-size: 5em;
}

.wd-flex-row-container .profile .profile-logo h2 {
  margin-top: 10px;
}

.wd-flex-row-container .profile .contact {
  margin-top: 50px;
}
.wd-flex-row-container .profile .contact p {
  overflow-wrap: normal;
}
.wd-flex-row-container .profile .contact a {
  color: red;
  text-decoration: none;
}
.wd-flex-row-container .profile .contact h3 {
  margin-bottom: 10px;
}

.wd-flex-row-container .profile .biography {
  margin-top: 50px;
}

.wd-flex-row-container .profile .biography h3 {
  margin-bottom: 10px;
}

.wd-flex-row-container .profile .links {
  margin-top: 50px;
}
.wd-flex-row-container .profile .links h3 {
  margin-bottom: 10px;
}
.wd-flex-row-container .profile .links a {
  text-decoration: none;
  color: red;
}

.wd-flex-row-container .profile .links .fa-link {
  color: grey;
}

.wd-flex-row-container .profile .edit-profile-btn a {
  text-decoration: none;
  color: white;
}
.wd-flex-row-container .profile .edit-profile-btn {
  margin-top: 20px;
}

/* profile edit page */
.wd-flex-row-container .profile-edit .links {
  margin-top: 20px;
}
.wd-flex-row-container .profile-edit .profile-input {
  margin-top: 20px;
  display: block;
}

.wd-flex-row-container .profile a {
  text-decoration: none;
  color: white;
}

.wd-flex-row-container .profile-edit .text-center {
  padding: 0px;
  width: 600px;
  display: block;
  margin: 0;
}
.wd-flex-row-container .profile-edit .text-center .row {
  margin: 0px;
}

.wd-flex-row-container .profile-edit .text-center .row .col {
  padding: 0px;
}

.wd-flex-row-container .profile-edit .add-another {
  display: block;
}

.wd-flex-row-container .profile-edit .fa-arrow-right {
  position: relative;
  top: 30px;
}
.wd-flex-row-container .profile-edit .mb-3 {
  width: 80%;
}

/* Course home page */
.wd-flex-row-container .containe .row .courseNav {
  width: 200px;
  margin-left: 25px;
  flex-wrap: wrap;
}
.courseNav ul li a {
  color: red;
  text-decoration: none;
  text-align: left;
  padding-left: 10px;
}

.courseNav ul {
  list-style: none;
  padding: 0px;
}
.courseNav ul li {
  margin-bottom: 20px;
}

/* .homescreen-top {
  position: fixed;
  left: 300px;
} */

.courseNav .home a {
  color: black;
  border-left: black solid;
}
.wd-flex-row-container .containe {
  width: 100%;
}
.wd-flex-row-container .containe .banner {
  height: 50px;
  overflow: hidden;
}

.wd-flex-row-container .containe .banner .homescreen-top .btn-secondary {
  float: right;
  position: relative;
  top: -55px;
  right: 10px;
}

.wd-flex-row-container .containe .banner .homescreen-top .fa-bars {
  color: red;
  margin-left: 20px;
}
.wd-flex-row-container .containe .banner .homescreen-top li {
  padding: 10px;
}

.wd-flex-row-container .containe .banner .homescreen-top li:nth-child(2) a {
  color: red;
  text-decoration: none;
}
.wd-flex-row-container .containe .main-page .module .top-sec {
  text-align: right;
}
.wd-flex-row-container .containe .main-page .module .top-sec .dropdown {
  display: inline-block;
}
.wd-flex-row-container
  .containe
  .main-page
  .module
  .top-sec
  .dropdown
  .dropdown-menu {
  z-index: 999;
}

.wd-flex-row-container
  .containe
  .main-page
  .module
  .weekly-lists
  .list-group
  .box,
.wd-flex-row-container
  .containe
  .main-page
  .module
  .weekly-lists
  .list-group
  .icons {
  display: inline-block;
}

.wd-flex-row-container
  .containe
  .main-page
  .module
  .weekly-lists
  .list-group
  .icons {
  float: right;
}
.wd-flex-row-container
  .containe
  .main-page
  .module
  .weekly-lists
  .list-group
  .icons
  .fa-check {
  margin-right: 10px;
}

.wd-flex-row-container
  .containe
  .main-page
  .module
  .weekly-lists
  .list-group
  .right-side {
  float: right;
}
.wd-flex-row-container
  .containe
  .main-page
  .module
  .weekly-lists
  .list-group
  .right-side
  .dropdown {
  display: inline-block;
}

.wd-flex-row-container
  .containe
  .main-page
  .module
  .weekly-lists
  .list-group
  .right-side
  .fa-plus {
  margin-right: 10px;
}
.wd-flex-row-container
  .containe
  .main-page
  .module
  .weekly-lists
  .list-group
  a {
  text-decoration: none;
  color: red;
}

@media (max-width: 1200px) {
  .status {
    display: none; /* Hide the actions column */
  }
  .module {
    width: 100%;
  }
}

@media (max-width: 992px) {
  .kanbasNav,
  .courseNav {
    display: none; /* Hide both navigation sidebars */
  }
  .module {
    width: 100%;
  }
}
.wd-flex-row-container .containe .main-page .status {
  margin-left: 10px;
}
.wd-flex-row-container .containe .main-page .status a {
  color: black;
  text-decoration: none;
}

.wd-flex-row-container .containe .main-page .status .d-flex {
  margin-top: 20px;
}

.wd-flex-row-container .containe .main-page .status .to-do h6 {
  display: inline-block;
}

.wd-flex-row-container .containe .main-page .status .to-do h6 a {
  text-decoration: none;
  color: darkred;
}

.wd-flex-row-container .containe .main-page .status .to-do p {
  font-size: 0.7em;
}

.wd-flex-row-container .containe .main-page .status .coming-up h4 {
  display: inline-block;
  margin-right: 35px;
}

.wd-flex-row-container
  .containe
  .main-page
  .status
  .coming-up
  .fa-calendar-days {
  margin-right: 5px;
}

.wd-flex-row-container .containe .main-page .status .coming-up ul li a {
  color: red;
}

/* Assignment Screen */
.wd-flex-row-container
  .containe
  .assignment-main
  .assignments
  .top-sec
  .left-side {
  float: left;
  width: 30%;
}

.wd-flex-row-container
  .containe
  .assignment-main
  .assignments
  .top-sec
  .right-side {
  float: right;
}

.wd-flex-row-container .containe .assignment-main .assignments .top-sec {
  overflow: hidden;
  height: 50px;
}

.wd-flex-row-container
  .containe
  .assignment-main
  .assignments
  .assignments-lists
  .leftside {
  margin: auto;
  display: inline-block;
}
.wd-flex-row-container
  .containe
  .assignment-main
  .assignments
  .assignments-lists
  .leftside
  h5,
.wd-flex-row-container
  .containe
  .assignment-main
  .assignments
  .assignments-lists
  .leftside
  .dropdown {
  display: inline-block;
}
.wd-flex-row-container
  .containe
  .assignment-main
  .assignments
  .assignments-lists
  .leftside
  .dropdown
  .dropdown-menu {
  z-index: 999;
}

.wd-flex-row-container
  .containe
  .assignment-main
  .assignments
  .assignments-lists
  .rightside {
  float: right;
}

.wd-flex-row-container
  .containe
  .assignment-main
  .assignments
  .assignments-lists
  .rightside
  button {
  border-radius: 20px;
  margin-right: 10px;
}

.wd-flex-row-container
  .containe
  .assignment-main
  .assignments
  .assignments-lists
  .rightside
  .fa-plus {
  margin-right: 10px;
}

.wd-flex-row-container
  .containe
  .assignment-main
  .assignments
  .assignments-lists
  .sub {
  display: flex;
  align-items: center;
}

.wd-flex-row-container
  .containe
  .assignment-main
  .assignments
  .assignments-lists
  .sub
  .mid {
  text-align: left;
}
.wd-flex-row-container
  .containe
  .assignment-main
  .assignments
  .assignments-lists
  .sub
  .mid
  h6 {
  font-size: 14px;
}

.wd-flex-row-container
  .containe
  .assignment-main
  .assignments
  .assignments-lists
  .sub
  .mid
  p {
  font-size: 12px;
  margin: 0;
}
.wd-flex-row-container
  .containe
  .assignment-main
  .assignments
  .assignments-lists
  .sub
  .mid
  a {
  text-decoration: none;
  font-weight: bold;
  color: black;
}

/* Grade page */
.wd-flex-row-container .containe .assignment-main .assignments .right {
  display: flex;
}
.wd-flex-row-container .containe .assignment-main {
  display: flex;
  flex-direction: row;
}
/* .wd-flex-row-container .containe .assignment-main .grade {
  display: flex;
  flex-direction: column;
  height: 100vh;
} */
.wd-flex-row-container .containe .assignment-main .assignments .top {
  height: 40px;
}
.wd-flex-row-container .containe .assignment-main .assignments .right button,
.wd-flex-row-container
  .containe
  .assignment-main
  .assignments
  .right
  .dropdown {
  margin-right: 10px;
}

.wd-flex-row-container .containe .assignment-main .assignments .inputs-group {
  display: flex;
  justify-content: space-between;
}

.wd-flex-row-container
  .containe
  .assignment-main
  .assignments
  .inputs-group
  .search-name {
  flex: 50%;
  margin-right: 20px;
}
.wd-flex-row-container
  .containe
  .assignment-main
  .assignments
  .inputs-group
  .search-assignment {
  flex: 50%;
  margin-right: 20px;
}

.table-responsive {
  margin-top: 10px;
}

.table-responsive table,
.table-responsive th,
.table-responsive td {
  border: 1px solid lightgray;
  border-collapse: collapse;
}
.table-responsive table,
.table-responsive th,
.table-responsive td input {
  width: 100%;
}

.table-responsive .table-striped-odd tbody tr:nth-child(odd) {
  background-color: #f0f0f0;
}
