@media (max-width: 1200px) {
  .status {
    display: none; /* Hide the actions column */
  }
  .module {
    width: 100%;
  }
}

@media (max-width: 992px) {
  .wd-kanbas-navigation,
  .wd-course-navigation {
    display: none; /* Hide both navigation sidebars */
  }
  .module {
    width: 100%;
  }
}
